@page "/requests"
@inject NavigationManager NavigationManager;
@inject HireHero.Shared.Services.OffersService OffersService;
@inject IModalService Modal;

@using System.Linq;
@using HireHero.Shared.Models;

<h3>New requests</h3>

@if(requests == null || requests.Length == 0)
{
    <p><em>No new requests available</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Requester</th>
                <th>Powers</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in requests)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.Fullname</td>
                    <td>@request.Powers</td>
                    <td>@request.Email</td>
                    <td>
                        <button type="button" class="btn btn-primary">Proposal</button>
                        <button type="button" class="btn btn-warning" @onclick="@(e => HandleRefuse(e, request))">Refuse</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HireHero.Shared.Models.Request[] requests;

    protected override async Task OnInitializedAsync() => requests = (await OffersService.GetRequests()).ToArray();

    private void HandleRefuse(MouseEventArgs e, Request requestOffer)
    {
        var parameters = new ModalParameters();
        parameters.Add("OfferRequest", requestOffer);
        Modal.Show<RefuseOfferModal>("Refuse offer", parameters);
    }
}
